<div id='container'>
  <nav class="navigation">
    <ul>
      <li>
        <a class="selected" href="#/links">Links</a>
      </li>
      <li>
        <a href="#/shorten">Shorten</a>
      </li>
    </ul>
  </nav>
  <input type="text" ng-model='search' placeholder='filter' />
  <ul class="links">
    <li class="link" ng-repeat="link in data.links | filter:search | orderBy:'visits':true">
      <span class="title">{{ link.title }}</span>
      <a class="url" href="{{link.base_url}}/api/links/{{link.code}}">
        {{link.base_url}}/{{link.code}}
      </a>
      <span class="visits">
        <span class="count">{{link.visits}}</span>
      </span>
    </li>
  </ul>
</div>
