<div id='signin'>
  <h1>signin</h1>
  <form name="signinForm" ng-submit='signin()'>
    <input type="text"
           name="username"
           ng-model="user.username"
           placeholder="Enter Username" 
           required 
           ng-class="{'error': signinForm.username.$invalid && signinForm.username.$dirty}" />
    <input type="password" 
           name="password"
           placeholder="Enter Password"
           ng-model='user.password' 
           ng-class="{'error': signinForm.password.$invalid && signinForm.password.$dirty}"
           required />
    <button>signin</button>
  </form>
  <div ng-if='signinForm.username.$error.required && signinForm.username.$dirty' class="message">
    <h2>Username required</h2>
  </div>
  <div ng-if='signinForm.password.$error.required && signinForm.password.$dirty' class="message">
    <h2>Password required</h2>
  </div>
  <a href="#/signup">Don't have an account? Signup ...</a>
</div>
